.header {
  background: #1c2b35;
  min-height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.nav-link a {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.005em;
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 20px;
}
